.header{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border: 1px solid grey;
}

.logo{
    width: 100px;
}

.nav-items > ul{
    display: flex;
    list-style-type: none;
    font-size: 20px;
}

.nav-items > ul > li{
    padding: 10px;
    margin: 10px;
}

.res-card{
    padding: 5px;
    width: 250px;
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
}

.res-container{
    display: flex;
    flex-wrap: wrap;
}

.res-card:hover{
    cursor: pointer;
    border: 1px solid grey;
}

.search{
    padding: 10px;
}

.res-card-logo{
    width: 100%;
    height: 50%
}

.body{
    padding: 10px;
}

.filter-btn{
    margin: 10px;
    cursor: pointer;
}

.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}

.shimmer-card{
    margin : 20px;
    width: 200px;
    height: 400px;
    background-color: #f0f0f0;

}

.Login{
    padding: 0px 20px;
    cursor: pointer;
}

.search-btn{
    cursor: pointer;
}

.filter{
    display: flex;
}

.user-card{
    padding: 10px;
    border: 1px solid black;
}